<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

<!--     <debug /> -->
    
    <!-- needed for security tag lib -->
    <beans:bean id="webexpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" /> 
    
<!--      <http pattern="/home.jsp" security="none" /> -->
<!--      <http pattern="/" security="none" /> -->
    
<!--     <http  auto-config="true" use-expressions="true"> -->
<!--         <intercept-url pattern="/**" method="POST" access="hasRole('ROLE_ADMIN')" />  -->
<!--         <intercept-url pattern="/author/add" method="GET" access="hasRole('ROLE_ADMIN')" /> -->
<!--         <intercept-url pattern="/publisher/add" method="GET" access="hasRole('ROLE_ADMIN')" /> -->
<!--         <intercept-url pattern="/login.jsp" access="hasRole('IS_AUTHENTICATED_ANONYMOUSLY')"/> -->
<!--         <intercept-url pattern="/loginfailed.jsp" access="hasRole('IS_AUTHENTICATED_ANONYMOUSLY')"/> -->
<!--         <intercept-url pattern="/**" access="hasRole('ROLE_USER')" method="GET" /> -->
<!--         <form-login login-page="/login.jsp" authentication-failure-url="/loginfailed.jsp" /> -->
<!--         <logout logout-success-url="/home.jsp"/> -->
<!--     </http> -->
    
<!--     <authentication-manager> -->
<!--         <authentication-provider> -->
<!--             <password-encoder hash="plaintext" /> -->
<!--             <user-service> -->
<!--                 <user name="test" password="123" authorities="hasRole('ROLE_ADMIN'),hasRole('ROLE_USER')" /> -->
<!--                 <user name="test" password="123" authorities="hasRole('ROLE_USER')" /> -->
<!--                 <user name="bob" password="bobiscool" authorities="hasRole('ROLE_USER')" /> -->
<!--             </user-service> -->
<!--         </authentication-provider> -->
<!--     </authentication-manager> -->

<!--    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="bcrypt" />
            <jdbc-user-service data-source-ref="dataSource" />   
        </authentication-provider>
    </authentication-manager>
    
    <beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <beans:property name="url" value="jdbc:mysql://localhost/cs544"/>
        <beans:property name="username" value="root"/>
        <beans:property name="password" value=""/>
    </beans:bean>-->
    

</beans:beans>